.landing-page-root{
    height:100%;
}

.hero-image{
    float: left;
    
    width: 45%;
}

.landing-page-content{
    height:1000px;
}

.greeting{
    display:block;
    height:100%;
    display: inline-block;
    padding-top: 20%;
}

.text-welcome{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color:#3580a9;
    font-weight: 550;
    padding-bottom: 7vh;
    overflow: hidden;
}